<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
    "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

    <vendor>ro-Control</vendor>
    <vendor_url>https://github.com/Project-Ro-ASD/ro-Control</vendor_url>

    <action id="com.github.AcikKaynakGelistirmeToplulugu.rocontrol.manage-drivers">
        <description>Manage NVIDIA drivers</description>
        <description xml:lang="tr">NVIDIA sürücülerini yönet</description>
        <message>Authentication is required to manage NVIDIA drivers</message>
        <message xml:lang="tr">NVIDIA sürücülerini yönetmek için kimlik doğrulama gerekli</message>
        <icon_name>ro-control</icon_name>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>

      <action id="com.github.AcikKaynakGelistirmeToplulugu.rocontrol.pkexec">
        <description>Execute privileged ro-Control operations</description>
        <description xml:lang="tr">Ayricalikli ro-Control islemlerini calistir</description>
        <message>Authentication is required to perform privileged system operations</message>
        <message xml:lang="tr">Ayricalikli sistem islemleri icin kimlik dogrulama gerekli</message>
        <icon_name>ro-control</icon_name>
        <defaults>
          <allow_any>auth_admin</allow_any>
          <allow_inactive>auth_admin</allow_inactive>
          <allow_active>auth_admin_keep</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
      </action>

</policyconfig>
