[Desktop Entry]
Type=Application
Name=ro-Control
Name[tr]=ro-Control
GenericName=Hardware Monitor and Cooling Controller
GenericName[tr]=Donanım İzleyicisi ve Soğutma Denetleyicisi
Comment=Linux hardware monitor and cooling controller with NVIDIA driver management for Ro-ASD
Comment[tr]=Ro-ASD için NVIDIA sürücü yönetimi içeren Linux donanım izleyicisi ve soğutma denetleyicisi
Exec=ro-control
Icon=io.github.projectroasd.rocontrol
Terminal=false
Categories=Settings;HardwareSettings;Qt;KDE;
Keywords=nvidia;driver;gpu;monitor;system;ro-asd;fan;cooling;plasma;kde;
Keywords[tr]=nvidia;sürücü;gpu;monitör;sistem;ro-asd;fan;soğutma;plasma;kde;
StartupNotify=true
StartupWMClass=io.github.projectroasd.rocontrol
SingleMainWindow=true
X-KDE-PluginInfo-Author=Sopwit
X-KDE-PluginInfo-Email=sopwith.osdev@gmail.com
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Version=1.3.1
X-KDE-PluginInfo-Website=https://github.com/Project-Ro-ASD/ro-Control
X-KDE-Author=Sopwit
X-KDE-Developer=Sopwit
X-Developer-Name=Sopwit
X-Publisher=Sopwit
X-Vendor=Sopwit
